<% content_for :headnav do %>
  <!-- header STR -->
  <%= render :partial => "layouts/welcome" %>
  <!-- header END -->
  <!-- nav STR -->
  <div id="nav">
    <ul class="clearfix">
      <li><a href="/faxocr/">トップページ</a></li>
  </ul>
  </div>
  <!-- nav END -->
  <br>
<% end %>
<%= render template: 'layouts/default' %>
