<% content_for :headnav do %>
  <!-- header STR -->
  <%= render :partial => "layouts/welcome" %>
  <!-- header END -->
  <!-- nav STR -->
  <% if ( /\A(masquerade)\z/ =~ params[:action])%>
    <%= render :partial => "layouts/menu" %>
  <% else %>
    <div id="nav">
      <ul class="clearfix">
        <li></li>
      </ul>
    </div>
  <% end %>
  <!-- nav END -->
  <br>
<% end %>
<%= render template: 'layouts/default' %>
