<h1>システム管理メモ</h1>
<p style="color: green"><%= flash[:notice] %></p>

<br>

<% form_tag('/configs/note_update', {:method => 'post'}) do %>
<center>
  <%= text_area_tag :body, @raw_config, :style => 'width: 95%; height: 250px;' %>
</center>
<br>

<table width="100%">
<tr>
  <td>File Path: <%= @config_file_path %></td>
  <td align="right">
    <%= submit_tag '変更' %>
  </td>
</tr>
</table>
<% end %>
