<h1>Faxテスト送信</h1>

<% form_tag('/configs/sendtestfax_exec', {:method => 'post'}) do %>
  <blockquote>
  <br>
  <center>
  <span>  送信先FAX番号
    <%= text_field :dest_fax_num, '' %>
  <!-- (数字のみを入力してください)-->
  </span>
  </center>
  <br>
  <div align="right">
  <%= submit_tag '送信' %><br>
  </div>
  </blockquote>
<% end %>
