<h1>FaxOCR設定</h1>
<p>File Path: <%= @config_file_path %></p>

<% form_tag('/configs/update', {:method => 'post'}) do %>
  <%= text_area :body, '', :style => 'width: 100%; height: 400px;', :value => @raw_config %>
  <div align="right">
  <%= submit_tag '変更' %>
  </div>
<% end %>
