<h1>Fax送信履歴(直近10件)</h1>

<% form_tag('/configs/sendtestfax_exec', {:method => 'post'}) do %>
  <textarea readonly style="width: 100%; height: 200px;"><%= @raw_config %></textarea>
  <blockquote>
  <br>
  テスト送信
  <div align="right">
  <span>  送信先FAX番号
    <%= text_field :dest_fax_num, '' %>
  <!-- (数字のみを入力してください)-->
  </span>
  <%= submit_tag '送信' %><br>
  </div>
  </blockquote>
<% end %>
