<h1>処理待ちFaxメール一覧</h1>
<p style="color: green"><%= flash[:notice] %></p>

<br>
<center>
<textarea readonly style="width: 95%; height: 250px;">
<%= @raw_config %>
</textarea>
</center>
<br>

<div align="right">
<% if @fetchmail_enabled == 1 -%>
<%= button_to "Fax取得 (fetchmail実行)", getfax_exec_configs_path, :onclick => "DisableButton(this);" %>
<% end -%>
</div>
