<%= form_for(@group) do |f| %>
  <%= f.error_messages %>
  <h2 class="surveysobject">名称(必須)</h2>
  <div class="surveysobject">
	グループ名を入力してください。
  </div>
  <p class="surveysobject">
    <%= f.text_field :group_name %>
  </p>
  <p class="surveysobject">
    <%= f.submit '保存' %>
  </p>
<% end %>
