<h1 class="surveysobject admin">グループ一覧(管理ホーム)</h1>
<p style="color: green"><%= flash[:notice] %></p>
<br>

<table class="surveysobject">
  <tr class="surveysobject">
    <th class="surveysobject">グループ</th>
    <th class="surveysobject">操作</th>
  </tr>

  <% count = 0 %>
  <% @groups.each do |group| %>
  <% count = (count + 1) & 1 %>
  <% if count == 0 %>
  <tr class="surveysobject">
  <% else %>
  <tr class="surveysobject_dark">
  <% end %>
   	<td class="surveysobject"><%= link_to group.group_name, group %></td>
    <% if @current_user.has_administrator_group %>
    <td class="surveysobject_manage"><%= link_to '削除', group, data: {confirm: '削除してもよろしいですか？'}, :method => :delete %></td>
    <% else %>
    <td class="surveysobject_manage">操作できません</td>
    <% end %>
  </tr>
<% end %>
</table>
<div class="surveysobject_new">
<% if @current_user.has_administrator_group %>
<%= link_to '[新規作成]', new_group_path %>
<% end %>
</div>
