<h1><%=h @survey.survey_name %>の調査項目編集</h1>
<p style="color: green"><%= flash[:notice] %></p>

<%= render :partial => "form_group" %>

<%= link_to 'キャンセル', group_survey_survey_property_path(@group,@survey,@survey_property) %>
