<h1>調査シートチェッカー</h1>
<p style="color: green"><%= flash[:notice] %></p>

<% if @debug_mode == "true" %>
<div class="debug">デバッグモード</div>
<% end %>

<br>
<form action="<%= @action %>" method="post" enctype="multipart/form-data" name="upfm">
<center>
<table width="700px" border="0" cellpadding="3" cellspacing="0" class="srcTable1">
	<tbody><tr> 
		<th>
		  <div align="center"><b>ファイル登録</b></div>
		</th> 
		<td> <br><br>
<center><%= file_field "file", "upfile", "size" => "60" %></center>
<br>
<div align="left">
<ul>
  <li> アップロード可能なファイルサイズは、<b><%= @limit %></b>バイトまでです。</li>
<br>
</ul>
</div>
		</td> 
	</tr> 

	<tr>
		<td colspan="2"><center><br>
<a href="#" onclick="document.upfm.submit()"><img src="/assets/submit.gif" alt="アップロード" border="0"></a>
<br><br>
</center>
		</td> 
	</tr> 
</tbody></table> 
</center>
</form>
